<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="static/stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="myApp">
    <nav>
        <div class="navBar" id="nav">
            <img src="static/netflix-images/netflix-logo.png" alt="Netflix Logo" class="netLogo">
            <img src="static/netflix-images/netflix-avatar.png" alt="Netflix Avatar" class="netAvatar">
        </div>
    </nav>

    <div class="csBanner">
        <div class="bannerContent">
            <h1 class="csTitle">Coming Soon: Pokemon</h1>
            <div class="bannerbtns">
                <button class="bannerButton" @click="changeState('no-watchlist')">Movies</button>
                <button class="bannerButton" @click="changeState('watchlist')">Watchlist</button>
            </div>
            <div class="bannerDescription">After a scientific experiment leads to the creation of a clone of Mewtwo, he sets out to destroy the world. Ash and his friends then decide to thwart Mewtwo's evil...</div>
        </div>
    </div>

     <div class="row" v-if="state==='no-watchlist'">
         <h2>Netflix Originals</h2>
         <div class="movieTiles">
             <button @click="addMovie('Luis Miguel')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie1.jpg" alt="Luis Miguel" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Lucifer')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie2.jpg" alt="Lucifer" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Haunted')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie3.jpg" alt="Haunted" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Who Killed Sara?')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie4.jpg" alt="Who Killed Sara?" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Cobra Kai')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie5.jpg" alt="Cobra Kai" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Filth')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie6.jpg" alt="Filth" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Transformers')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie7.jpg" alt="Transformers" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('The Umbrella Academy')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie8.jpg" alt="The Umbrella Academy" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Luis Miguel')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie1.jpg" alt="Luis Miguel" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Lucifer')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie2.jpg" alt="Lucifer" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Haunted')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie3.jpg" alt="Haunted" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Who Killed Sara?')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie4.jpg" alt="Who Killed Sara?" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Cobra Kai')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie5.jpg" alt="Cobra Kai" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Filth')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie6.jpg" alt="Filth" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('Transformers')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie7.jpg" alt="Transformers" class="ind-mov-tile lrg-mov-tile">
             <button @click="addMovie('The Umbrella Academy')" :disabled="watchlist.length===20">Add to Watchlist</button>
             <img src="static/netflix-images/large-movie8.jpg" alt="The Umbrella Academy" class="ind-mov-tile lrg-mov-tile">
         </div>
     </div>

     <div class="row" v-if="state==='no-watchlist'">
        <h2>Trending</h2>
        <div class="movieTiles">
            <button @click="addMovie('Mortal Kombat')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie1.jpg" alt="Luis Miguel" class="ind-mov-tile">
            <button @click="addMovie('USA Down')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie2.jpg" alt="Lucifer" class="ind-mov-tile">
            <button @click="addMovie('Godzilla vs King Kong')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie3.jpg" alt="Haunted" class="ind-mov-tile">
            <button @click="addMovie('The Mitchells')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie4.jpg" alt="Who Killed Sara?" class="ind-mov-tile">
            <button @click="addMovie('Falcon and Winter Soldier')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie5.jpg" alt="Cobra Kai" class="ind-mov-tile">
            <button @click="addMovie('Lamp Guy')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie6.jpg" alt="Filth" class="ind-mov-tile">
            <button @click="addMovie('Face Punch')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie7.jpg" alt="Transformers" class="ind-mov-tile">
            <button @click="addMovie('Not Naruto')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie8.jpg" alt="The Umbrella Academy" class="ind-mov-tile">
            <button @click="addMovie('Mortal Kombat')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie1.jpg" alt="Luis Miguel" class="ind-mov-tile">
            <button @click="addMovie('USA Down')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie2.jpg" alt="Lucifer" class="ind-mov-tile">
            <button @click="addMovie('Godzilla vs King Kong')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie3.jpg" alt="Haunted" class="ind-mov-tile">
            <button @click="addMovie('The Mitchells')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie4.jpg" alt="Who Killed Sara?" class="ind-mov-tile">
            <button @click="addMovie('Falcon and Winter Soldier')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie5.jpg" alt="Cobra Kai" class="ind-mov-tile">
            <button @click="addMovie('Lamp Guy')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie6.jpg" alt="Filth" class="ind-mov-tile">
            <button @click="addMovie('Face Punch')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie7.jpg" alt="Transformers" class="ind-mov-tile">
            <button @click="addMovie('Not Naruto')" :disabled="watchlist.length===20">Add To Watchlist</button>
            <img src="static/netflix-images/small-movie8.jpg" alt="The Umbrella Academy" class="ind-mov-tile">
        </div>
    </div>

    <div class="row" v-else="state==='watchlist'">
        <h2>Watchlist</h2>
        <div class="movieTiles">
            <div id="watchlist">{{watchlist}}</div><br>
            <p id="savedList"></p>
        </div>
        <button @click="dltMovie">Remove Title</button>
        <button @click="save">Save List</button>
    </div>
    </div>
    <script src="scipts/netflix.js"></script>
</body>
</html>